{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}

{% block conteudo %}

<script type="text/javascript">
window.onload = function(){
        setTimeout(function(){window.location = "/";}, 120000);
}
</script>
<!--<img src="{% static 'imagens/zapdos.png' %}" />-->

{% for guidu in guidus %}
	<h1> {{ guidu.nome }}</h1>
	<table>
		<tr>
			<td>
				{% if guidu.calcular_humor == "feliz" %} 
					<img src="{{ STATIC_URL }}imagens/{{guidu.tipo.nome_tipo}}/feliz" width="250"/>
				{% elif guidu.calcular_humor == "triste" %}
					<img src="{{ STATIC_URL }}imagens/{{guidu.tipo.nome_tipo}}/triste" width="250"/>
				{% else %}
					<img src="{{ STATIC_URL }}imagens/{{guidu.tipo.nome_tipo}}/normal" width="250"/>
				{% endif %}
			</td>
			<td><table>
				<tr><td><br> Idade: {{guidu.saber_idade_dias}} dia(s)</td></tr>
				<tr><td>Fome: {{guidu.fome}} </td></tr>
				<tr><td>Higiene: {{guidu.higiene}} </td></tr>
				<tr><td>Diversao: {{guidu.diversao}} </td></tr>
				<tr><td>Banheiro: {{guidu.banheiro}} </td></tr>
				<tr><td>Social: {{guidu.social}} </td></tr>
				<tr><td>Energia: {{guidu.energia}} </td></tr>	
				<tr><td><br>Pontos de Ação: {{jogador.guimoves}}</td></tr>
				</table>
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<table border="3"> Fome
				<tr><td><a href="/{{guidu.id}}/alimentar/1">Dar maçã</a> (Fome: +1) </td></tr>
				<tr><td><a href="/{{guidu.id}}/alimentar/2">Dar torrada</a> (Fome: +2, Banheiro: -1)</td></tr>
				</table>
			</td>
			<td>
				<table border="3"> Banheiro
				<tr><td><a href="/{{guidu.id}}/banheiro/1">Ir ao banheiro</a> Banheiro: +3, Higiente: -1</td></tr>
				</table>
			</td>
			<td>
				<table border="3"> Higiene
				<tr><td><a href="/{{guidu.id}}/banhar/1">Tomar uma ducha</a> Higiene: +4</td></tr>
				</table>
			</td>
			<td>
				<table border="3"> Diversão
				<tr><td><a href="/{{guidu.id}}/divertir/1">Brincar</a> Diversão: +3</td></tr>
				</table>
			</td>
			<td>
				<table border="3"> Social
				<tr><td><a href="/{{guidu.id}}/socializar/1">Amiguinhos</a> Social: +7</td></tr>
				</table>
			</td>
			<td>
				<table border="3"> Energia
				<tr><td>
					{% if guidu.esta_dormindo %} <a href="/{{guidu.id}}/acordar">Acordar</a>
					{% else %} <a href="/{{guidu.id}}/dormir">Colocar pra dormir</a>
					{% endif %}
				</td></tr>
				</table>
			</td>
		</tr>
	</table>
	
{% endfor %}

{% endblock %}