{% extends "base.html" %}

{% block bt_cadastrar %}
{% endblock %}

{% block login%}
	<form method="POST" class="navbar-form pull-right">
	    {%csrf_token%}
		<ul class="nav">
			<li><a href="{% url pagina_de_cadastro %}">Cadastrar</a></li>
	    <input class="span2" type="text" placeholder="Usuário" name="username">
	    <input class="span2" type="password" placeholder="Senha" name="password">
	    <button type="submit" class="btn">Logar</button>
		</ul>
		
	</form>
{% endblock %}